<h2>Создание поста</h2>
<form action="/author/createPost" method="POST">
    <input type="text" name="title" placeholder="Заголовок" required><br>
    <textarea name="content" placeholder="Содержание" required></textarea><br>
    <button type="submit">Создать</button>
</form>
<a href="/user/profile">Назад</a>